{% extends 'base.html' %}

{% block title %}Devices{% endblock %}

{% block content %}
    {% if devices %}
        <ul class="list-group">
            {% for device in devices %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ device.get_absolute_url }}">{{ device.number }}</a>
                <span class="badge bg-primary rounded-pill">Added On: {{ device.added_on }}</span>
              </li>
            {% endfor %}
        </ul>
    {% else %}
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">No Devices Found</li>
      </ul>
    {% endif %}
{% endblock %}